h1,h2{
    color: green;text-align: center; 
    font-family: 'Times New Roman', Times, serif;
   }
   body{
     background-color: grey;
  
    }

.heading{
    color:red;
    font-size: 50px;
    text-align: right;
}
#specialheading{
    text-align: left;
    background-color:beige ;
}